<div class="parent">
  <div class="heroInfo">
    <app-hero *ngFor="let hero of team" [warrior]="hero"></app-hero>
  </div>
  <div>
    <ul>
      <li *ngFor="let info of infos">{{info}}</li>
    </ul>
  </div>
  <div>
    <app-dragon [dragon]="dragon"></app-dragon>
  </div>
</div>
<router-outlet></router-outlet>